.token.punctuation {
    color: #D4D4D4;
}

.token.control {
    color: #C586C0;
}

.token.lifetime,
.token.keyword,
.token.macro,
.token.boolean {
    color: #569CD6;
}

.token.primitive,
.token.type {
    color: #4EC8B0;
}

.token.comment {
    color: #959596;
}

.token.function {
    color: #DCDCAA;
}

.token.number,
.token.float {
    color: #B3CDA8;
}

.token.constant,
.token.constvar {
    color: #4FC1DB;
}

.token.string {
    color: #CE9178;
}

.token.variable {
    color: #9CDCFE;
}

code,
pre {
    background: 0 0;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-wrap: wrap;
    word-break: break-all;
}