/* body {
    color: #ffffff;
    font-family: Roboto, sans-serif, arial, helvetica, serif;
} */

.img-letter {
    position: absolute;
    color: white;
    font-weight: 700;
    filter: drop-shadow(1.25px 1.25px 0px black);
    text-shadow: 0px 0px 4px black;
}