/* body {
    color: #ffffff;
    font-family: Roboto, sans-serif, arial, helvetica, serif;
} */

.img-letter {
    position: absolute;
    color: white;
    font-weight: 700;
    filter: drop-shadow(1.25px 1.25px 0px black);
    text-shadow: 0px 0px 4px black;
}

.img-clipped {
    width: 100%;
    object-fit: cover;
    object-position: 0% 15%;
}

.hover-docs {
    scrollbar-width: thin;
    scrollbar-color: rgba(153, 153, 153, 0.4) transparent;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(153, 153, 153, 0.4);
    border-radius: 4px;
    border: 1px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(153, 153, 153, 0.7);
}

tr>th.group:nth-child(n+7)>.cell>.hover-docs {
    transform: translateX(calc(-100% + 32px));
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}